body {
background-color: rgba(43, 70, 129, 0.76);
}

.intro {
    box-shadow: 2px 2px 2px 2px rgba(43, 70, 129, 0.76);;
    text-align: center;
    height: auto;
    width: 300px;
    margin-left: 13cm;
    color: rgba(13, 185, 185, 0.726);
    border-radius: 25px;
    
  
}

.perents {
    display:inline-flex ;
    margin-right:1%;
    margin-left: 1%;
    margin-top: 2cm;
    
    
}

.mom-dad {
    text-align: center;
    height: auto ;
    width: auto;
    margin-left: 15px;
    margin-right: 12px;
 
}

.dad-mom {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 1px;
    box-shadow: 2px 2px 2px 2px rgba(43, 70, 129, 0.76);
    font-size: 40px;
    height: auto;
    width: 430px;
    border-radius: 25px;
    border-style:groove;

}

.tet {
    font-family: tahoma;
    font-size: 20px;    
    color: rgb(68, 16, 16);
    text-align: justify;
    width: 375px;
    height: auto;
    margin-left: 25px ;
    border-radius: 25px;
  
    
}

.img {
    box-shadow: 3px 3px 3px 3px rgba(3, 77, 138, 0.651);
    border-style:ridge;
    border-radius: 15px;

}

.ibu {
    box-shadow: 2px 2px 2px 2px rgba(43, 70, 129, 0.76);
    border-radius: 25px;
    margin-left: 30px;
    margin-right: 30px;
    border-style:double   ;
    background-color: rgba(43, 70, 129, 0.76);
    color: rgba(13, 185, 185, 0.726);
}

.ppp {
    height: auto;
    width: auto;
    margin-top: 8cm;
    font-size: 120px;
    
}

.fam {
    box-shadow: 2px 2px 2px 2px rgba(43, 70, 129, 0.76);
    text-align: center;
    height: auto;
    width: 300px;
    margin-left: 13cm;
    color: rgba(13, 185, 185, 0.575);
    border-radius: 25px;
    border-style: ridge;

}

.fam2 {
    
    height: auto;
    width: 1200px;
    margin-left: 1.2cm;
    border-radius: 25px;
    box-shadow: 3px 3px 3px 3px rgba(43, 70, 129, 0.76);
    border-style:ridge;

}

.fam3 {
    margin-left: 2.5cm;
    border-radius: 25px;
    box-shadow: 3px 3px 3px 3px rgba(112, 17, 17, 0.466);
    border-style: ridge;
}

.tut {
    font-family: 'times new roman';
    font-size: 35px;    
    color: rgba(46, 11, 11, 0.932);
    text-align: justify;
    width: 1100px;
    height: auto;
    margin-left: 50px ;
    margin-right: 50px;
    border-radius: 25px;
    margin-top: 0;
}


.btn {
    border: none;
    margin-left: 14.5cm;
    width: 200px;
    height: 40px;
    border-radius: .2cm;
    box-shadow: 2px 2px 2px 2px rgba(171, 190, 231, 0.562);;
    background-color: rgba(86, 111, 167, 0.562);
    cursor:pointer;
    font-family: Arial, Helvetica, sans-serif;
    color:red;
}

.btn:hover {
    background-color: rgba(171, 190, 231, 0.562);
    color: white;
    transition: .3 ease-in-out;
    transform:rotate(1.5deg);
}


